<ion-view title="Wave Zone" id="page2" style="background-color: rgb(96, 11, 28);">
  <ion-content padding="true" class="has-header">
    <form id="waveZone-form5" class="list">
      <h1 id="waveZone-heading2" style="color: rgb(250, 245, 245);" class="one">U2 - 360º</h1>
      <div>
        <img src="img/i5LofKjTcq0Qhd39fvau_U2360.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="waveZone-list-item-container2" style="">
        <div id="waveZone-markdown5" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Mosaic 1</p>
        </div>
        <div id="waveZone-markdown6" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Wave 1</p>
        </div>
        <div id="waveZone-markdown7" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Wave 2</p>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>