<ion-view title="Wave's Catcher" id="page8" style="">
  <ion-content padding="true" class="has-header">
    <form id="waveSCatcher-form8" class="list">
      <label class="item item-input item-stacked-label" id="waveSCatcher-input9">
        <span class="input-label">Introduce Wave Code</span>
        <input placeholder="" type="text">
      </label>
    </form>
    <button id="waveSCatcher-button12" class="button button-positive button-block">Capture Wave</button>
    <form id="waveSCatcher-form9" class="list">
      <ion-checkbox id="waveSCatcher-checkbox4" style="">Catched</ion-checkbox>
    </form>
    <p style="">
      This text box indicates the main features about the scheduled wave.
      <br>
      <br>
      <b>U2 360º</b>
      <br> 27 - 09 - 201
      <br>
      <br> Camp Nou Barcelona
    </p>
  </ion-content>
</ion-view>