<ion-view title="Waves" id="page7" style="background-color: rgb(8, 2, 41);">
  <ion-content padding="true" class="has-header">
    <ion-list id="waves-list5">
      <ion-item class="item-thumbnail-left" id="waves-list-item8" ui-sref="tabsController.waveZone()" style="">
        <img src="img/ae0ohRemRea2opYqyMkE_U2360.GIF">
        <h2>U2 360 º Barcelona</h2>
        <p>27 - 09 - 2016</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="waves-list-item9" style="">
        <img src="img/Wc2lBxQAQYeQLV5fxXlN_campnoumosaic.gif">
        <h2>Barça - Madrid</h2>
        <p>10 - 10 - 2016</p>
      </ion-item>
    </ion-list>
    <a ui-sref="waveSCatcher()" id="waves-button13" class="button button-positive button-block">Catch Wave</a>
    <ion-list id="waves-list6">
      <ion-item class="item-icon-right" id="waves-list-item10" style="">Concert Lady Gaga
        <i class="icon ion-android-arrow-dropright-circle"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="waves-list-item11" style="">Via Catalana 2015
        <i class="icon ion-android-arrow-dropright-circle"></i>
      </ion-item>
    </ion-list>
    <div id="waves-button-bar1" class="button-bar">
      <a ui-sref="waveSCatcher()" id="waves-button9" class="button button-assertive button-block">Create Wave</a>
      <button id="waves-button10" class="button button-positive button-block icon ion-android-settings"> Features</button>
    </div>
  </ion-content>
</ion-view>